// Font families
@font-face {
    font-family: 'inter';
    src: url(~/public/fonts/inter_variableFont.ttf);
}

@font-face {
    font-family: 'quantico';
    src: url(~/public/fonts/quantico_bold.ttf);
}

@font-face {
    font-family: 'suit';
    src: url(~/public/fonts/SUIT-Variable.ttf);
}

$primary-font: 'inter';
$secondary-font: 'quantico';

// Font sizes
$base-font-size: 1rem;
$smaller-font-size: .85rem;
$h1-font-size: 1.5rem;
$large-font-size: 2.25rem;

// Font weights
$thin-font-weight: 300;
$regular-font-weight: 400;
$bold-font-weight: 600;

// title font style
@mixin titles {
    font-family: $secondary-font;
    font-size: $h1-font-size;
    font-weight: $bold-font-weight;
}



#main-content {
    h2 {
        font-size: $large-font-size;
        // 2.25rem
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }
}