// fixed icons on right side
#content-fixed-icons {
  width: 2.5rem;
  height: 0;
  z-index: 10;

  display: block;
  position: sticky;
  top: 60%;
  left: 85%;

  .buttons-wrap {
    & > button,
    .share-button > button {
      width: 2.5rem;
      height: 2.5rem;
      @include flex-center;
      margin: 0.75rem 0;

      border: none;
      background-color: $orange;
    }

    .arrow-button img {
      width: 1.5rem;
    }

    .bookmark-button,
    .share-button {
      img {
        width: 1.25rem;
      }
    }

    // 추가
    .bookmark-button {
      img {
        filter: invert(100%);
      }
    }

    .font-size {
      p {
        font-size: 1.25rem;
        font-weight: $bold-font-weight;
      }
    }
  }
}

.share-button {
  position: relative;

  .share-menu {
    position: absolute;
    top: 0;
    right: 3rem;
    flex-direction: column;
    padding: rem(24) rem(24);
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    border-radius: 1rem 0 1rem 1rem;

    button {
      // reset style
      height: auto;
      margin: 0;
      border: 0;
      cursor: pointer;
      background-color: $black;
      color: $white;
    }

    .share-link {
      display: flex;
      width: rem(240);
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(10) rem(6) rem(3);
      border-bottom: 2px solid $white;

      svg {
        width: rem(20);
        height: rem(20);
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

@media (min-width: 576px) {
  #content-fixed-icons {
    left: 90%;
    top: 50%;
  }
}

@media (min-width: 768px) {
  #content-fixed-icons {
    top: 35%;
  }
}
