#mobile-menu {
    width: auto;
    margin: 3rem auto;
    position: absolute;
    top: 0;
    left: rem(17);
    right: rem(17);
    background: #fff;

    #mm-about-us,
    #mm-content,
    #mm-report,
    #mm-project,
    #mm-search,
    #mm-signin {
        width: 100%;
        border-bottom: .35rem solid $black;
        margin: 1rem 0;

        a, .menu-categ {
            @include flex-spacebetween;
            cursor: pointer;
            
            h2,
            img {
                margin: .35rem 0;
            }

            h2 {
                font-size: 1.25rem;
            }
        }
    }

    #mm-content {
        border-bottom: none;

        .mm-content-top {
            border-bottom: .35rem solid $black;

            // 아래 'other-content-pages' 내려와있을때 화살표 방향
            &.down img {
                transform: rotate(180deg);
            }
        }

        .other-content-pages {
            @include other-contents-pages;
            border-bottom: none;
            width: 90%;

            ul {
                width: 10rem;

                li a {
                    justify-content: start;
                    border-bottom: none;
                }
            }
        }
    }

    #mm-search {
        margin-top: 5rem;
    }
}

@media (min-width: 768px) {
    #mobile-menu {
        width: 60%;
    }
}

@media (min-width: 992px) {
    #mobile-menu {
        display: none;
    }
}