#privacy-title {
  width: 85%;
  margin: auto;
  margin-top: 8.5rem;
  border-bottom: 0.35rem solid $black;

  h2 {
    width: 80%;
    margin: 0.85rem 0;
    // font-size: 1.15rem;
    font-family: $secondary-font;
  }
}

#privacy-policies {
  width: 85%;
  margin: auto;
  margin-top: 3rem;
  word-wrap: break-word;
  word-break: keep-all;

  p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: underline;
  }

  h3 {
    margin-top: 2.5rem;
  }

  ul {
    padding: 0;

    li {
      margin: 0.5rem 0;
      margin-left: 2rem;
      list-style-type: "- ";
    }
  }

  .list-title {
    list-style: none;
    margin-left: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: $bold-font-weight;
  }
}

@media (min-width: 992px) {
  #privacy-policies {
    width: 70%;
    margin-top: 5rem;
  }
}
