// mobile first
#signup-wrap {
    width: 85%;
    margin: auto;
    margin-top: 8rem;

    @include flex-column;
    align-items: center;

    h2 {
        @include titles;
        text-align: center;
    }

    #signup-inputs-wrap {
        .signup-inputs-row {
            form,
            .field,
            .sortby-country,
            .sortby-function {
                @include flex-column;
                margin: 1rem 0;

                label {
                    font-size: $smaller-font-size;
                    font-weight: $bold-font-weight;
                    margin-bottom: .25rem;
                    margin-left: 1rem;
                }

                input,
                select {
                    height: 3rem;
                    border: .075rem solid $black;
                    border-radius: 10rem;
                    padding: 0 1rem;
                    outline: none;
                }
            }

            #pw-form, .pw-field {
                p {
                    width: 90%;
                    margin-left: 1rem;
                    font-size: .65rem;
                }
            }
        }
    }

    #signup-checkboxes {
        @include flex-column;
        margin: 1rem 0;

        .newsletter-checkbox,
        .marketing-checkbox,
        .required-checkbox {
            display: flex;
            align-items: baseline;
            margin: .35rem 0;

            p, label {
                font-size: .65rem;
                margin: 0;
                margin-left: .5rem;
            }
        }
    }

    .signup-button {
        @include mobile-button-style($black);
        background-color: $black;
        color: $white;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    #signup-wrap {
        h2 {
            font-size: $large-font-size;
        }

        #signup-inputs-wrap {
            .signup-inputs-row {
                width: 95%;
                margin: auto;
                display: flex;
                justify-content: space-around;
    
                form,
                .field,
                .sortby-country,
                .sortby-function {
                    width: 48%;
                }
            }
        }

        #signup-checkboxes {
            width: 55%;
        }

        .signup-button {
            width: 90%;
            margin-bottom: 5rem;
        }
    }
}

@media (min-width: 992px) {
    #signup-wrap {
        width: 90%;
        margin-top: 5rem;

        #signup-inputs-wrap {
            width: 100%;
        }

        #signup-checkboxes {
            width: 60%;
            margin: 2rem auto;
        }

        .signup-button {
            width: 50%;
            margin: 2rem auto;
            margin-bottom: 5rem;
        }
    }
}

@media (min-width: 1200px) {
    #signup-wrap {
        #signup-inputs-wrap {
            width: 140%;
            margin-left: -20%;
        }

        #signup-checkboxes {
            // width: 35%;
            width: 70%;


            .newsletter-checkbox,
            .marketing-checkbox,
            .required-checkbox {
                p, label {
                    font-size: $smaller-font-size;
                }
            }
        }
    }
}