.wrong-email-pw-wrap {
    form {
        label {
            color: rgb(255, 0, 0);
            font-weight: $bold-font-weight;
        }

        // input[type=text] border:red 적용 안 됨;
        // #wrong-email,
        // #wrong-password {
        //     border: red;
        //     position: relative;
        // }

        ::placeholder {
            color: rgb(255, 0, 0);
        }

        img {
            margin-top: .1rem;
            width: .75rem;
            height: .75rem;

            position: absolute;
        }
    }
}

.error-field {
    label {
        color: rgb(255, 0, 0);
        font-weight: $bold-font-weight;
    }

    select, input {
        color: rgb(255, 0, 0);
        border-color: rgb(255, 0, 0);
        position: relative;

        &::after {
            content: '';
            display: block;
            background-image: url(~/public/imgs/error.png);
            margin-top: .1rem;
            width: .75rem;
            height: .75rem;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}