#welcome-main {
  width: 100%;
  height: calc(100vh + 3rem);
  background: url(~/public/imgs/welcome_main.jpg);
  @include background(60%);
  background-size: cover;
  margin-top: -3rem;

  .welcome-text {
    width: 80%;
    height: 100%;
    @include flex-center();
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-size: $h1-font-size;
    font-weight: $bold-font-weight;
    color: $white;

    .email {
      font-size: 1rem;
      font-weight: $regular-font-weight;
    }
  }
}

@media (min-width: 992px) {
  #transparent-bg-nav {
    header {
      background-color: transparent;
    }
  }

  #welcome-main {
    p {
      font-size: $h1-font-size;
    }
  }
}
