.ideanote {
  background: url(~/public/imgs/ideanote_beige.png);
  @include background(50%);
  background-size: contain;

  &-view {
    background-image: url(~/public/imgs/ideanote_lime.png);
  }
}

.ideanote {
  position: relative;
  width: 100%;
  max-width: rem(280);
  height: rem(280);
  padding: rem(27) rem(38) rem(20) rem(22);
  margin: auto;
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
  overflow: hidden;

  .footer {
    position: absolute;
    bottom: rem(25);
    width: calc(100% - rem(44));
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(24);

    p {
      margin: 0;
    }

    .title {
      font-size: rem(13);
      font-weight: $bold-font-weight;
      margin-bottom: rem(6);
    }

    &-icons {
      position: relative;
      display: flex;
      gap: rem(12);

      .icon {
        width: rem(20);
        height: rem(20);
        cursor: pointer;
      }
    }
  }

  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

// 작성 전
.ideanote-edit {
  .textarea {
    position: inherit;
    width: 100%;
    height: rem(180);
    border: none;
    outline: none;
    background: transparent;
    font-size: $base-font-size;
    resize: none;
    z-index: 2;
  }

  .placeholder {
    position: absolute;
    top: rem(27);
    left: rem(34);
    max-width: rem(200);

    .title {
      font-size: rem(18);
      font-weight: $bold-font-weight;
      margin-bottom: rem(17);
    }

    .desc {
      font-size: rem(14);
      font-weight: $thin-font-weight;
      color: #acacac;
    }
  }

  .save-btn {
    font-weight: $bold-font-weight;
    border: none;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
}

.loading-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(30);
}

// 작성 후
.ideanote-view {
  font-size: rem(12);

  .user-note {
    width: 100%;
    line-height: 1.15rem;
    margin: 0;
  }
}

// 삭제
.delete-modal {
  position: absolute;
  z-index: 3;
  bottom: rem(30);
  right: 0;

  @include flex-center;
  gap: 0.5rem;
  flex-direction: column;
  margin: auto;

  width: rem(220);
  height: rem(100);
  background-color: $white;
  border: 1px solid $black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  p {
    font-size: $smaller-font-size;
    margin-bottom: rem(14);
  }

  .buttons-wrap {
    width: 100%;
    padding: 0 rem(14);
    @include flex-spacebetween;
    gap: rem(8);

    button {
      width: 100%;
      height: 2rem;
      border-radius: 1rem;
      background-color: $white;
      border: 0.075rem solid $black;
      cursor: pointer;
    }

    button:nth-child(2) {
      color: $white;
      background-color: $black;
    }
  }
}

/**
* Content Single
*/
.idea-note-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (min-width: 768px) {
    row-gap: 2rem;
  }

  @media (min-width: 1400px) {
    width: 80%;
    margin: auto;
  }
}

/**
* MyPage Ideas
*/
.ideanotes-designs {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (min-width: 768px) {
    width: 90%;
    margin-top: rem(90);
  }

  @media (min-width: 992px) {
    margin: 3rem;
  }

  @media (min-width: 1200px) {
    width: 60%;
  }
  @media (min-width: 1200px) {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
}
