@mixin pagination {
    width: 60%;
    margin: 6rem auto;
    @include flex-spacebetween;
    font-size: $smaller-font-size;

    .prev,
    .next {
        cursor: pointer;
        margin: 0 .75rem;
    }

    .has-more {
        text-decoration: underline;
    }

    .page {
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;

        p {
            width: 17rem;
            text-align: center;
        }
    }

    .page::before,
    .page::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $black;
    }
}