.tags {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .indiv-tag {
    width: fit-content;
    padding: 0.35rem 0.5rem;
    white-space: nowrap;
    @include flex-center;

    font-size: 0.625rem;
    border: 1px solid $black;
    border-radius: 10rem;
  }
}

.indiv-content {
  .tags {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .tags {
    margin: 0 0 1rem 0;

    .indiv-tag {
      padding: 0.5rem 1rem;
      font-size: rem(14);
    }
  }

  .indiv-content {
    .tags {
      gap: 0.4rem;

      .indiv-tag {
        padding: 0.35rem 0.5rem;
        font-size: rem(11);
      }
    }
  }
}
